@font-face {
    font-family: 'Cherry';
    src: url(./media/Cherry_Bomb_One/CherryBombOne-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(./media/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Roboto-Thin';
    src: url(./media/Roboto/Roboto-Thin.ttf);
}
@font-face {
    font-family: 'Roboto-Light';
    src: url(./media/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(./media/Roboto/Roboto-LightItalic.ttf);
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(./media/Roboto/Roboto-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-color: #e55151;
    --main-color-light: #f38a8a;
    --main-color-dark: #ab2525;
    --text-color-grey: #1a1a1a;
}
html, body {
    width: 100%;
}
body {
    margin: 0;
    font-family: 'Roboto';
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
}
body > header {
    grid-area: header;
    z-index: 2;
}
body > main {
    grid-area: main;
}
body > footer {
    grid-area: footer;
}


.header {
    font-family: 'Cherry';
    text-decoration: none;
    font-size: 62px;
    color: var(--main-color);
    display: flex;
    justify-content: center;
    margin: 18px 0 32px 0;
}
#loading {
    text-align: center;
    margin-top: 150px;
}
.loader {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    opacity: 1;
    animation: fade 1.8s;
    animation-iteration-count: infinite;
}
@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}
.card {
    margin: 32px;
}
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    height: 600px;
    object-fit: cover;
}
h2 {
    font-family: 'Roboto-Bold';
    font-size: 30px;
    text-align: center;
    margin: 40px 0 30px 0;
}
p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 580px;
    padding-bottom: 12px;
}
@media (max-width: 1024px) {
    .image {
        width: 480px;
        height: 500px;
    }
    h2 {
        margin: 40px 0 20px 0;
    }
    p {
        width: 480px;
        padding-bottom: 9px;
    }
}
@media (max-width: 599px) {
    .card {
        margin: 10px;
    }
    .image {
        width: 300px;
        height: 340px;
    }
    p {
        width: 300px;
    }
}