@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
    }
img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
body {
    font-family: 'Source Sans Pro';
}
body.index {
    background: url(../media/background-home.jpg) no-repeat;
    background-size: 100%;
    display: block;
}

/* 
body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-image: url('background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}

.logo {
	display: flex;
	align-items: center;
	flex-grow: 1;
	justify-content: center;
}

.logo img {
	width: 100px;
}

.menu {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	margin-left: 20px;
}

.menu li:first-child {
	margin-left: 0;
}

.menu li a {
	color: #fff;
	text-decoration: none;
}

.cart img {
	width: 25px;
	cursor: pointer;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger .line {
	width: 30px;
	height: 3px;
	background-color: #fff;
	margin: 5px 0;
}

.slide-down-menu {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	background-color: #fff;
	padding: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slide-down-menu li {
	margin: 10px 0;
}

.slide-down-menu li a {
	color: #333;
	text-decoration: none;
}

@media (max-width: 768px) {
	.menu {
		display: none;
	}

	.burger {
		display: block;
	}

	.slide-down-menu {
		display: block;
	}
} */
